.dashheading2{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    padding: 0;
    border-radius: 10px;
    color: #333;
}
.calenderbtn{
    float: right;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 400;
    background: #f0ad34 !important;
    color: white;
}
.calenderbtn2{
    float: right;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 400;
    background: #f0ad34 !important;
    color: white;margin-right: 10px;
}
.calenderimg{
    width:300px; border: 1px solid grey;
}
footer{
    margin-left: 240px;
}
.iframebible{
    text-align: center;width: 100%;overflow: hidden;
}
.tabledesc{
    max-width: 200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.tabledesc1{
    max-width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.salemarketplace{
    position: absolute;
    top: 150px;
    padding: 11px;
    background: #000000a8;
    /* border-radius: 50px; */
    color: white;
    left: 26px;
    width: 229px;
    height: 45px;
    text-align: center;
}
.discountmarketplace{
    position: absolute;
    top: 35px;
    padding: 11px;
    background: #f0ad34;
    border-radius: 50px;
    color: white;
    right: 20px;
    width: 45px;
    height: 45px;
}
.sendsmstopup{
    background-color:#f0ad34 ; color: #fff;padding: 5px 10px;border-radius: 5px;
}
.collectionyearbdr{
    border: 1px solid #f0ad34;
}
.collectionyearbdrselected{
    background-color: #f0ad34 !important; color: white;
}
select{
    width: 100%;
}
time.react-clock{
    width: 250px !important;
    height: 250px !important;
    margin: auto;
}
.ui.search>.prompt{
    -webkit-appearance: auto !important;
}
.select__control.css-yk16xz-control{
    border-radius: 50px !important;
    padding-left: 5px;
}
.item.channel_item{
    padding: 10px 30px !important;
}
.card_dash_left{
    max-width: 60%;
}
.card_dash_left h5 , .card_dash_left h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.analysis_card h2{
    font-size: 21px !important;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.ucp-table td.paddrec{
    padding: 0.5rem .75rem !important;
}
h2.calendertxt{
    font-size: 16px !important;
}
.wrapcontant4line{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}
.trumbowyg-box, .trumbowyg-editor{
    margin-bottom: 5px !important;
}
.salemarketplace{
    position: absolute;
    top: 95px;
    padding: 11px;
    background: #000000a8;
    /* border-radius: 50px; */
    color: white;
    left: 0;
    width: 100%;
    height: 45px;
    text-align: center;
  }
  .ucp-table tbody tr td{
    /* font-size: 10px !important; */
  }
  .greenslot{
    color:lightgreen !important;
    margin-right: 5px;
  }
  .brownslot{
    color:#e6beb2 !important;
    margin-right: 5px;
  }
  .whiteslot{
    color:#8a8a8a !important;
    margin-right: 5px;
  }


  ul.pagination {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    height: 42px;
    overflow: hidden;
    margin-bottom: 0;
}

ul.pagination li {
    height: 23px;
    margin-right: 5px;
    background: lightgrey;
    cursor: pointer;
}

ul.pagination li a {
    color: #444;
    font-size: 13px;
    padding: 3px 15px;
    font-weight: 500;
}

ul.pagination li.active {
    background: #f0ad34;
}

ul.pagination li.active a {
    color: #fff;
}

ul.pagination li.disabled {
    background: #e8e8e8;
}

ul.pagination li.disabled a {
    color: #d3d3d3;
}